/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-image: url('/src/assets/img/q1.jpg');
  background-position: fixed;
  background-size:cover;
}
/* input.ng-invalid.ng-dirty{
  border-bottom-color: red !important;
  box-shadow: 0 1px 0 0 red !important;
} */
@media only screen and (max-width: 600px){
  body{
    background-image: url('/src/assets/img/quiz.jpg');

}
}
