#clock{
  width:10rem;
  background-color: black;
  font-family: cursive;
  font-size: 2rem;
  color:white;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-left: 40%;
  margin-right: 40%;
}
