.homepage{
  /* background-image: url('/src/assets/img/full.jpg'); */
   background-position: fixed;
   background-size:100%;
  min-height: -webkit-fill-available;
}

button{
  margin-top:10rem;
  margin-left: 10rem;
}

button:hover{
  background:rgb(111, 111, 238);
  color:white;
}


@media(max-width: 600px){
  .homepage{
    /* background-image: url('/src/assets/img/q2.jpg'); */
     background-position: fixed;
     background-size:100%;
    min-height: -webkit-fill-available;
  }

  button{
    margin-top:2rem;
    margin-left: 2rem;
  }
}
