<button mat-raised-button (click)="sleep()" style="background-color:black; color:white;" >
  I want to play
 </button>

<button mat-raised-button *ngIf="users_found"  color="primary" (click)="showQuestions()">Let's Play</button>

<div class="abc" *ngIf="counter>=1 && !gameOver">

  <mat-card class="mc">
    <h2 style="color:white">{{currentQuestion.problemStatement}}</h2><br>
    <mat-radio-group class="radio-group" (click)="scoreCalculator()">
        <mat-radio-button class="radio-button" *ngFor="let o of currentQuestion?.options" [value]="o.id" style="color:white">
          {{o.content}}<br>
      </mat-radio-button>
    </mat-radio-group>
        <br>
  </mat-card>
        <mat-card class="sc">
        <mat-card id="divMessages1" class="messages" style="color:black">
          {{username}}:  {{ score }}
        </mat-card>
        <!-- <mat-card id="divMessages2" *ngIf="forignuser != username" class="messages" style="color:black">
          {{forignuser}}:  {{ forignUserScore }}
        </mat-card>
        <mat-card id="divMessages2" *ngIf="forignuser == username" class="messages" style="color:black">
          {{forignuser}}: {{ forignUserScore}}
        </mat-card> -->
      <!-- </mat-card>
      </mat-radio-group> -->
  </mat-card>

</div>

<div id="clock">
{{counter}}
</div>

