<button (click)="sleep()" style="background-color:black; color:white;" >
 I want to play
</button>
<button mat-raised-button  *ngIf="arr.length>1 && letsplay === 0 " color="primary" (click)="showQuestions()">Let's Play</button>
<!-- <button mat-raised-button color="primary" (click)="wait()">Wait For 1 min.</button> -->
<div class="abc" *ngIf="counter>=1 && !gameOver">

      <mat-card>
        <h2 style="color:white">{{currentQuestion.problemStatement}}</h2><br>
        <mat-radio-group class="radio-group" (click)="scoreCalculator()">
            <mat-radio-button class="radio-button" *ngFor="let o of currentQuestion?.options" [value]="o.id" style="color:white">
              {{o.content}}<br>

          </mat-radio-button>
            <br>
            <mat-card id="divMessages1" class="messages" style="color:white">
              {{username}}:  {{ score }}
            </mat-card>
            <mat-card id="divMessages2" *ngIf="forignuser != username" class="messages" style="color:white">
              {{forignuser}}:  {{ forignUserScore }}
            </mat-card>
            <mat-card id="divMessages2" *ngIf="forignuser == username" class="messages" style="color:white">
              {{username}}: {{ score}}
            </mat-card>

          </mat-radio-group>
      </mat-card>

</div>

<div id="clock">
  {{counter}}
</div>
