<button mat-raised-button class="abc" *ngIf="!start" (click)="sleep()" style="background-color:black; color:white;" >
   I want to play
</button>

<button mat-raised-button  *ngIf="users_found" color="primary" (click)="showQuestions()">Let's Play</button>


<div class="abc" *ngIf="!gameOver">
      <mat-card class="mc">
         <h2 style="color:white">{{currentQuestion.questionGiven}}</h2><br>
         <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let o of currentQuestion?.questionOptions" [value]="o.optionsId" style="color:white" (click)="scoreCalculator(o)">
                {{o.optionGiven}}<br>
             </mat-radio-button>
         </mat-radio-group>
         <br>
         <button mat-raised-button (click)="endGame()">End Game</button>
      </mat-card>

      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>{{username}}: <br> {{ score }}</mat-grid-tile>
        <mat-grid-tile>{{forignuser}}:<br>{{ forignUserScore }}</mat-grid-tile>
      </mat-grid-list>

</div>

<div id="clock" *ngIf="!gameOver">
  {{counter}}
</div>

<mat-card *ngIf="gameOver && score>forignUserScore">You Win<br>
    <button mat-raised-button class="btn"  color="primary" [routerLink]="['/play']">Go Back</button>
</mat-card>
<mat-card *ngIf="gameOver && score<forignUserScore">Opponent Wins<br>
    <button mat-raised-button class="btn"  color="primary" [routerLink]="['/play']">Go Back</button>
</mat-card>
<mat-card *ngIf="gameOver && score===forignUserScore">It's a Draw<br>
    <button mat-raised-button class="btn"  color="primary" [routerLink]="['/play']">Go Back</button>
</mat-card>

