<div class="links">
    <mat-grid-list cols=2 rowHeight="2:1">
    <mat-grid-tile><div class="input-zone1">
      <label class="lblMessage" for="tbMessage1">Message:</label>
      <input id="tbMessage1" class="input-zone-input" type="text" />
      <button mat-raised-button id="btnSend1">Send</button>
      <mat-card id="divMessages1" class="messages"></mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile><div class="input-zone1">
      <label class="lblMessage" for="tbMessage2">Message:</label>
      <input id="tbMessage2" class="input-zone-input" type="text" />
      <button mat-raised-button id="btnSend2">Send</button>
      <mat-card id="divMessages2" class="messages"></mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile><div class="input-zone1">
      <label class="lblMessage" for="tbMessage3">Message:</label>
      <input id="tbMessage3" class="input-zone-input" type="text" />
      <button mat-raised-button id="btnSend3">Send</button>
      <mat-card id="divMessages3" class="messages"></mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile><div class="input-zone1">
      <label class="lblMessage" for="tbMessage4">Message:</label>
      <input id="tbMessage4" class="input-zone-input" type="text" />
      <button mat-raised-button id="btnSend4">Send</button>
      <mat-card id="divMessages4" class="messages"></mat-card>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
  </div>

